<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/aboutUs.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<section class="about-us">

    <div class="image">
        <img th:src="@{/images/happy-dog-cat-friends-posing-together.png}">
    </div>
    <div>
    <h2>ЗА НАС</h2>
    <p>Винаги ли търсите най-добрите, естествени, висококачествени продукти за вашия домашен любимец? Ако е така, знаете, че намирането на
        най-добрите продукти и проучването на обещаващи марки отнема време, с толкова много уебсайтове за разглеждане и рецензии за четене.
        Затова, ние от HappyPet свършихме цялата трудна работа, за да намерим най-добрите продукти, спестявайки на клиентите си много време.
        Време, което вие може да прекарате в забавление или почивка, със своите домашни любимци и семейство.
    </p>

    <p>
        Изкусителни лакомства и невероятни храни, заедно с огромен избор от най-добрите играчки, нашийници, поводи, аксесоари, легла, продукти за път и още много други артикули,
        са само на клик разстояние от вас.
    </p>

    <p>
        HappyPet, нашият нов онлайн магазин за подбрани висококачествени, натурални продукти, ще ви спести време и разочарование,
        като превърне вашето онлайн търсене на страхотни продукти за домашни любимци в безпроблемно!
    </p>

    <p>
        Качествените продукти не биха били нищо без качествено обслужване, така че освен непрекъснатата работа за осигуряване на най-добрите
        налични естествени продукти, нашата мисия е да предоставяме изключително обслужване на клиентите. Ще получите комбинация от онлайн
        удобство с персонално обслужване. Ние сме истински любители на домашни любимци, винаги на разположение да помогнем със супер бърза
        доставка, адекватни съвети и гаранция за връщане на парите.
    </p>
    </div>
</section>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>