<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<section class="form-container">
    <form th:method="post" th:action="@{/products/addProduct}" th:object="${addProductBindingModel}" class="addProduct" enctype="multipart/form-data">
        <select th:field="*{forType}" class="categories" id="pet-type" name="forType" required>
            <option value="">Изберете категория</option>
            <option value="DOG"> Куче</option>
            <option value="CAT"> Котка</option>
            <option value="OTHER"> Друго</option>
            <small th:errors="*{forType}" class="error-message"></small>
        </select>

        <input th:field="*{productName}" type="text" name="productName" id="product-name" placeholder=" Име на продукта" required th:errorclass="input-error">
        <small th:errors="*{productName}" class="error-message"></small>
        <input th:field="*{description}" type="text" name="description" id="description" placeholder=" Описание на продукта" required th:errorclass="input-error">
        <small th:errors="*{description}" class="error-message"></small>
        <input th:field="*{price}" type="number" step="0.01" name="price" id="price" placeholder=" Цена" required th:errorclass="input-error">
        <small th:errors="*{price}" class="error-message"></small>

    <div class="file">
        <input type="file" name="picture" id="picture">
    </div>
        <input th:field="*{storageCount}" type="number" name="storageCount" id="count" placeholder=" Брой" required th:errorclass="input-error">
        <small th:errors="*{storageCount}" class="error-message"></small>
        <button type="submit">Добави продукт</button>
    </form>

</section>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>