<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Happy</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/advice.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>
<section th:replace="~{fragments/commons::section}"></section>

<div class="image-logo">
    <img th:src="@{/images/logoHappy.png}">
</div>

<div class="container">

<div class="card">
    <input id="ch" type="checkbox">

    <h2>Какво има в кучешката храна?</h2>
    <p>
        Нашите четириноги приятели са част от семейството.
        Поради това искаме те да се хранят с възможно най-добрата храна, за да се развиват здравословно и да живеят дълго.
    </p>
    <p>
        Кучетата са всеядни и се нуждаят от 37 основни хранителни вещества, които са разделени в шест ключови групи: вода, протеини, мазнини, въглехидрати, витамини и минерали. Добрата храна за кучета трябва да съдържа качествени съставки, за да покрие всички тези ключови групи хранителни вещества...
    </p>
    <div class="content">

        <p>
            Протеин:
            Протеинът идва от месо, птици, риба, както и от някои съставки на растителна основа, като царевичен глутен и соево брашно. Неговата роля е да доставя незаменими аминокиселини и протеинови субединици, които спомагат за поддържането на здрава козина, кожа, нокти, мускули, сухожилия, връзки, хрущяли, като също участват и в правилното производство на хормони.
        </p>
        <p>
            Мазнини:
            Мазнините също се съдържат в месото, птиците, рибата и растителните масла (особено лененото). Те са основна съставка на кучешката храна, тъй като подпомагат много телесни функции, включително – поддържане на телесната температура, контролиране на настъпили възпаления и подпомагане на тялото да абсорбира определени витамини. Наред с това, мазнините са една от основните форми на съхранена енергия, предлагайки два пъти повече такава от въглехидратите или протеините.

            Също може да са добър източник на мастни киселини, от които омега-6 за здрава кожа, козина и структура на мембраната, както и на омега-3, които подпомагат съсирването на кръвта и намаляват възпалението.
        </p>
        <p>
            Въглехидрати:
            Намиращи се в растенията и зърнените храни, въглехидратите са чудесен източник на енергия и помагат при храносмилането. Обикновено идват под формата на съставки за ястия за кучета като царевица, соя, пълнозърнеста пшеница, ориз, овес, ечемик и грах. Тези съставки се сдобиха с лоша репутация през последните години, но докато кучето ви няма никакви алергии или чувствителност, са напълно подходящи за ядене и всъщност може да са много полезни.
        </p>
        <p>
            Витамини и минерали:
            Когато гледате какво има в храната на вашето куче, винаги трябва да внимавате за витамини и минерали. Това са важни вещества, които помагат за всичко – от растежа на костите, през съсирването на кръвта, до производството на енергия и защитата от оксиданти. Също така поддържат метаболитната, храносмилателната и имунната система.
        </p>
        <p>
            Вода:
            Водата е много важна съставка, затова трябва да търсите ястия с високо съдържание на влага. Освен това, по всяко време трябва да има осигурена прясна и чиста питейна вода на вашия любимец.
        </p>

        <label for="ch">Виж по-малко</label>
    </div>

    <label for="ch">Виж повече</label>
</div>

    <div class="card">
        <input id="ch1" type="checkbox">

        <h2>Домашни средства за кучета, за които всеки собственик трябва да знае</h2>
        <p>
            Всеки собственик иска да има суперсили, когато види, че най-добрият му приятел не се чувства добре.
            Представете си, че може да отворите кухненския шкаф или да отидете в градината си и да намерите лек, който незабавно да облекчи дискомфорта на вашето куче, независимо дали е сърбеж по кожата, бълхи, или разстроен стомах.
        </p>
        <p>
            Домашните лекарства за кучета никога не трябва да заместват посещението при ветеринар...
        </p>
        <div class="content">

            <p>
                Ако кучето ви е зле, трябва незабавно да се обадите на вашия ветеринарен лекар. Дори леките симптоми може да крият големи проблеми, така че е по-добре да изключите всякакви сериозни опасения възможно най-скоро. Много чайове, масла и тинктури са си изградили репутация през годините като полезни за нашите космати приятели, но винаги е най-добре да се консултирате с ветеринар, преди да ги използвате.

                Те може да се окажат решението, което търсите, но може и да причинят повече вреда, отколкото полза. Вашият ветеринарен лекар ще може да ви насочи в правилната посока.
            </p>
            <p>
                Домашни средства за кожни алергии и сърбеж при кучета:
                Баните с овесени ядки може да са най-добре пазената тайна, когато става въпрос за облекчаване на сърбящата кожа на вашия любимец. Кожните алергии при кучета са толкова дискомфортни за тях, колкото и звучат. Каквато и допълнителна помощ да им окажете, освен одобрените от ветеринарни лекари лекарства, те със сигурност ще я оценят.

                Всичко, което трябва да направите, е да смелите овесените ядки на фин прах с помощта на блендер и след това да ги изсипете във водата за баня на вашето куче. Ако то не е фен на времето за къпане, може да използвате финия овес на прах като локален мехлем. Просто ги смесете с малко вода и нанесете върху зачервените участъци от кожата.
            </p>
            <p>
                Домашно лекарство за диария при кучета
                Не позволявайте на разстроения стомах да съсипе вашия ден или този на кучето ви. Има няколко лека или поне временни решения за диария, които може да изпробвате, докато си запазите час при ветеринаря. Предлагането на оризова вода (водата, отцедена от обикновения сварен ориз), тиквени семки или чаша кисело мляко може да помогне за облекчаване на диарията при кучетата.

                Наблюдавайте внимателно вашия любимец, ако решите да приложите това домашно лечение, особено спрямо киселото мляко. Също така, най-добре е да се консултирате с ветеринарен лекар, преди да го направите.
            </p>
            <p>
                Домашни средства за бълхи при кучета
                Домашните лекарства не са толкова ефективни, колкото правилното лечение срещу бълхи, така че не го пропускайте. Въпреки това може да опитате някои допълнителни средства за защита, за да сте по-сигурни! Втрийте малко лимонов сок върху козината на вашия любимец и тези досадни малки насекоми може да променят мнението си и да намерят друг домакин, който да притесняват.

                Друг добър домашен лек е ябълковият оцет. Смесете го с вода и го нанесете върху козината. Независимо дали изберете лимон, или оцет, внимавайте да не попадне в очите на кучето, като внимаваме за зони с драскотини или рани.
            </p>
            <p>
                Домашни средства за лечение на рани по кучета
                Ако вашето куче е приключило приключенията за деня с нова рана, която се нуждае от промиване, солите на Epsom може да са лекът от шкафа, който върши работа. Това популярно домашно лекарство за кучета действа като нежно почистващо средство за пресни рани. Смесете солите с топла вода и нанесете разтвора върху засегнатата област.

                Имайте предвид обаче, че този разтвор може да се използва само за леки рани. Не се колебайте да помолите вашия ветеринарен лекар за помощ, тъй като може бързо да се инфектират и да са опасни за здравето на вашето куче.
            </p>

            <label for="ch1">Виж по-малко</label>
        </div>

        <label for="ch1">Виж повече</label>
    </div>

    <div class="card">
        <input id="ch2" type="checkbox">

        <h2>Езикът на кучетата</h2>
        <p>
            Всеки, който някога е прекарвал известно време в компанията на куче, знае, че подобно на хората, имат характер, уникален за всяко едно от тях. Също така, те изпитват и много чувства по абсолютно същия начин като хората и всички други бозайници.
            Въпреки че не изпитват срам, злоба или презрение, те имат същата гама от основни емоции като нас, като щастие, тъга, облекчение, разочарование и страх. Тези чувства са от съществено значение, за да помогнат на кучетата да научат света и да ги насърчават да се държат по определени начини, за да се защитават или да помагат.

            Прочетете как нашите експерти декодират кучешкото поведение, изражения и сигнали....
        </p>

        <div class="content">
            <p>
                Разбира се, вашето куче не може да ви каже как се чувства, но вие може да разберете по-добре емоциите му, като наблюдавате езика на тялото на му и се справите с основите на кучешката комуникация. Това ръководство ще ви помогне да разпознаете чувствата на вашето куче, с което ще задълбочите още повече вашата специална връзка.
            </p>
            <p>
                Щастие:
                Щастието е една от най-лесните кучешки емоции за забелязване и определено е любим израз за вашия космат приятел!
                Очите му са нежни и с мек фокус, с отпуснато чело. Ушите му са висящи, ако бяга или се движи назад и напред по увлекателен, приятелски начин.
                Опашката на кучето е чудесен показател за настроението му – развятата опашка обикновено означава щастливо куче! Ако я размахват толкова енергично, че изглежда сякаш целите им задни крака треперят, това означава, че наистина са много щастливи!

                Щастливото куче се движи по спокоен, отпуснат начин и ще ви насърчи да играете и да споделите щастието му.
            </p>
            <p>
                Безпокойство:
                Очите на тревожното куче може да са широко отворени и втренчени или да са присвити, избягвайки зрителен контакт.
                Също така, може да видите бръчки или напрежение на челото им, а ако ушите им са наострени, ще бъдат задържани леко назад, докато ги движат наоколо.
                Така се опитват да съберат улики за възможна опасност. Ако имат дълги, люлеещи се уши (известни също като „висящи“ уши),
                обикновено ги държат по-близо до главата.
                Тялото и опашката им са неподвижни и в леко спусната поза. Разтревожените кучета размахват предпазливо опашки, но това се прави по-скоро като жест на умилостивение, отколкото защото са щастливи.

                Ето защо понякога тревожността остава неразпозната, така че следете внимателно тези признаци, ако кучето ви е в нова или предизвикателна ситуация.
            </p>
            <p>
                Страх:
                Ако вашето куче се страхува, езикът на тялото му ще го отчете съвсем очевидно. Този тип кучешко изражение може да бъде много драматично. Различните животни проявяват различни реакции при страх: някои ще се свият, за да изглеждат малки, други ще се превъртят по гръб, за да покажат примирение в социален конфликт, трети просто ще стоят много неподвижно, но ще има и такива, които ще лаят силно или ще ръмжат отбранително.

                Очите им може да са широко отворени, да се хвърлят напред и назад и да се взират силно. Може и да примижват и да хвърлят погледи към всеки предмет или човек, от който се страхуват. Ушите им ще са прилепнали към главата, а устните – ще са напрегнати. Също така, може да ближат устните си или да се прозяват, а опашката им да стои неподвижна, ниско долу или прибрана между краката им. Обикновено са толкова съсредоточени върху заплахата, че дори отказват любимото си лакомство!
            </p>
            <p>
                Разочарование
                Кучетата може да изпитват различни видове неудовлетвореност, от по-продължителна депресия до по-активна, незабавна неудовлетвореност,
                обикновено в отговор на конкретно събитие (например, ако не им бъде дадено нещо, което искат). Те може и да се чувстват разочаровани,
                ако нямат възможност да се измъкнат от нещо неприятно за тях.
                Очите му ще бъдат широко отворени и немигащи, ушите ще са наострени, а устните ще са сковани, ако не лаят.

                Това е много напрегнато състояние за кучетата и те не могат да го поддържат вечно, така че в крайна сметка може да се примирят с разочароващата ситуация, въпреки че в някои случаи има шанс да изпаднат в депресия.

                Това може да се тълкува погрешно, например като спокойно приемане. Така че преди отново да се държи нормално, вашето куче ще се нуждае от много внимателно, любящо внимание, което да му помогне да се отпусне, след като е било разочаровано.
            </p>
            <p>
                Облекчение
                Облекчението е доста осезаемо, тъй като обикновено следва предишно напрегнато и негативно емоционално състояние.
                Важно е да знаете кога вашето куче се чувства разочаровано, тревожно или уплашено, но също е толкова важно да знаете кога отново е облекчено и отпуснато.
                Някои кучета ще се прозяват, докато по-резервираните герои ще наведат глави, ще избегнат контакт с очите и ще изглеждат сякаш въздишат вътрешно. По-екстровертните представители може да се разтърсят, да се изпънат в дълбок поклон или дори да изпаднат в еуфорично състояние. Всички тези действия им помагат за освобождаване на напрежението.
            </p>
            <p>
                Концентрация:
                Когато е нащрек – очите му ще са отворени, ярки, немигащи и малко напрегнати, докато се концентрира върху обекта на вниманието си. Ушите му ще бъдат наострени или държани напред, устата му може да бъде затворена или отворена, а езикът ще стои централно и неподвижен. Обикновено кучетата държат главата си високо, освен ако не са на път да излетят, преследвайки нещо. В този случай може да е спусната и изпъната напред.

                Ако са съсредоточени върху нещо радостно или приятно, цялото им тяло може да се напрегне към него, треперещо в очакване и готово за действие!
            </p>
            <p>
                Ярост:
                Стъпвайте внимателно, ако подозирате, че вашето куче изпитва тази емоция, особено докато заплахата изчезне.
                Устата ще е отворена, а устните – напрегнати и изтеглени назад, с набръчкана муцуна и нос, докато оголва зъбите си. Тежестта ще е напред над предните му крака, готово да се нахвърли или атакува. Може да мълчи или да издава тихо заплашително ръмжене. Едно наистина ядосано куче обикновено не крещи!

                Избягвайте да провокирате допълнително кучето си, ако е ядосано. Не го гледайте, не викайте и не правете внезапни движения, а му дайте време и пространство да се успокои.
            </p>
            <p>
                Неутралност:
                Очите му ще са меки и отпуснати, движещи се плавно и без да се показват бели части, докато сканира заобикалящата го среда от удобното място за почивка. Ушите също ще са отпуснати, докато небрежно слушат какво се чува наоколо, а челото и веждите ще са гладки и без напрежение. Устата му може да е затворена или леко отворена. Въпреки че няма да показва своята „готова за забавление“ частична усмивка, устните и муцуната ще са отпуснати. Това значи, че е напълно доволно!
            </p>

            <label for="ch2">Виж по-малко</label>
        </div>

        <label for="ch2">Виж повече</label>
    </div>

    <div class="card">
        <input id="ch3" type="checkbox">

        <h2>Довеждане на коте вкъщи</h2>
        <p>
            Страхотни новини – най-накрая дойде времето, когато може да посрещнете ново коте в дома си! Точно както като заведете у дома новородено бебе, ще искате всичко да е както трябва, за да се настани по-бързо и да се почувства като у дома си.
            Решението да вземете коте е много вълнуващо, тъй като не само ще спечелите космат приятел, но и ще получите допълнителен член на семейството! Преди да го заведете у дома ще трябва да отделите малко време, за да го подготвите. Ето защо създадохме това ръководство, за да ви разясним всичко, което трябва да знаете, за да посрещнете новия си четириног приятел в топла, приятелска среда, където ще се чувства безопасно, комфортно и като у дома си!...
        </p>

        <div class="content">
            <p>
                Основни неща при водене на коте у дома
                Вече е време за забавната част – пазаруване за вашето сладко коте! Това са някои от основните неща, които ще са нужни:

                безопасна кошница за котки – количките за котки се предлагат в широка гама от размери, така че вземете такава, която е достатъчно голяма, за да може вашият нов приятел да се чувства удобно;
                две купи – една за храна и една за вода. Изберете лесни за почистване керамични или стъклени купи вместо метални. Някои котки не харесват отражения или сенки в купата си, докато се хранят или пият. Уверете се, че са достатъчно широки, за да може да се навежда, без мустаците му да докосват страниците поради факта,че това може да го отблъсне;
                тоалетна – най-добре е да използвате същия тип, използван от развъдника или приюта, поне докато не се установи, така че да я разпознава, но и за да знае какво да прави с нея;
                котешко легло – мнозина предпочитат легло в стил “иглу” за по-голям уют и сигурност или такова, издигнато над земята (напр. като част от център за дейности);
                оборудване за подстригване – особено ако е дългокосместо;
                стълб за драскане – направен от дървесна кора или стълб, увит със сезал. Драскането помага да поддържате ноктите на вашето коте в добро състояние, а и да отвлече вниманието му от вашите мебели и килими;
                играчки за котки – техните любими игри ще бъдат тези, които включват вас. Може да са висящи меки играчки, които те да гонят и да се нахвърлят върху тях. Това им осигурява безопасно изразяване на естественото им ловно поведение;
                храна за котенца – хранете го със същата храна, с която е свикнало в развъдника или в приюта. Правете това поне една седмица и я сменете постепенно, ако решите да я промените, като това ще отнеме поне още седмица.
            </p>
            <p>

                Първата седмица – как да настаните коте?
                Време е вашето коте да се прибере у дома с вас! Това е супер вълнуващ момент, но не забравяйте, че може да е малко уплашено, тъй като е непознато за него място. Най-добре е в началото всичко да е спокойно, вместо да го водите на шумно парти за добре дошло.
            </p>


            <label for="ch3">Виж по-малко</label>
        </div>

        <label for="ch3">Виж повече</label>
    </div>

    <div class="card">
        <input id="ch4" type="checkbox">

        <h2>Запознаване на новото ви куче с котка или по-старо куче</h2>
        <p>
            Кучетата обикновено лесно се сприятеляват и обичат да са около животни от техния вид. Всъщност, те вероятно ще се възползват от възможността да играят с всяко животно, включително котка. Ето как да представите новото си кученце на другите домашни любимци в семейството.
            И така, как да запознаете куче с по-старо в дома или с котка, без Третата световна война да избухне точно във вашата всекидневна? Разбихме процеса по въвеждане на няколко лесни стъпки. Ето какво може да направите, за да създадете плавен преход към семейния живот за новопристигналия и да запазите спокойствието на другите обитатели, по време на тези първи взаимодействия...
        </p>

        <div class="content">
            <p>
                Запознаване на кученце с по-старо куче:
                Вашето куче вероятно е свикнало да се разполага като цар в къщата, така че споделянето може да се окаже малко шокиращо за него! Опитайте тези съвети, за да направите запознаването възможно най-гладко.            </p>
            <p>
                Намерете неутрално място за среща на двете кучета
                Най-добре е да представите новото куче някъде, където старото няма да има никакви териториални проблеми. Добра идея е да ги запознаете на открито, но ако все още не са поставени всички ваксини на малкото, не напускайте обсега на вашия двор. След като получи поне първата си ваксинация и ветеринарният лекар е казал, че е безопасно да го направите, заведете го в градината и го оставете да се разхожда, за да свикне с всички вълнуващи нови гледки и миризми.
            </p>
            <p>
                Първо запознанство:
                След това му сложете повод и изведете възрастното си куче, също на повод. Ако по-старото е голямо или възбудимо, може да е добра идея то да носи нашийник, за да предотвратите всякакви внезапни нападения, когато казва „здравей“. Те са длъжни да проявяват любопитство, така че ги оставете да се придвижват едно към друго, като държите поводите по-свободно. Успокойте ги, като им говорите нежно, че са добри и игнорирайте всяко хленчене или лай.

                Осигурете спокойствие, докато представяте новото куче.
                Наградете спокойните, сдържани взаимодействия с нежни думи и малки лакомства. Ако някое от тях се превъзбуди, важно е вие да останете спокойни. Изчакайте да се успокоят или ги разделете за известно време, преди да опитате отново.
            </p>
            <p>
                Изчакайте поканите на закрито.
                Позволете на вашия по-възрастен любимец да „покани“ новия член на закрито. Дръжте и двете животни на повод, докато малкото се огледа добре и по-старото го приеме спокойно, без да реагира. Продължавайте да възнаграждавате приемането и толерантността със спокойни похвали и двете кучета.

                Съвет: Преди да ги запознаете, уверете се, че направените ваксинации на по-възрастното са актуални, така че всички да са здрави.

                Ако имате някакви притеснения относно процеса на запознаване, поискайте помощ. Всеки местен треньор или ветеринар ще се радва да ви даде съвет
            </p>
            <p>
                Ако представяте напълно пораснало куче на вашето, не се изненадвайте, ако те не се сприятеляват веднага. Не се обезсърчавайте от това, ако ги оставите да се опознаят постепенно на тихо неутрално място далеч от дома (най-добре да е място, което не е познато на нито едно от тях), обикновено няма причина да не се разбират и да станат истински приятели.
            </p>
            <p>
                Как да представите куче на коте или котка?
                Ако вашето ново попълнение се чувства спокойно и комфортно в новия си дом, време е да го запознаете със своята котка. Ще трябва да бъдете търпеливи и да ѝ дадете време да свикне с новия си съквартирант, особено ако не е живяла с куче преди! Ето как да ги запознаете и да им помогнете да станат приятели по-бързо.

                Гледайте и двете животни да са спокойни.Не се притеснявайте, ако не станат най-добри приятели. Котките са природно независими и може просто да игнорират кучето ви, дори и да са приели присъствието му. С времето повечето котки и кучета, които живеят заедно, стават приятелски настроени! Докато всеки има свое собствено пространство и обособена зона, всичко трябва да върви добре.
                Запознаването на кученце с котка може да бъде малко обезсърчително. Не е необичайно котките да реагират със съскане, пляскане, или да се опитват да избягат и да се крият. И така, вашата работа е да помогнете и на двамата си любимци да се отпуснат в компанията на другия.

            </p>

            <label for="ch4">Виж по-малко</label>
        </div>

        <label for="ch4">Виж повече</label>
    </div>

    <div class="card">
        <input id="ch5" type="checkbox">

        <h2>Бременност при котките и раждане</h2>
        <p>
            Ако очаквате малки котенца да се родят скоро в дома ви, това може да е много вълнуващо, но и малко обезсърчително.
            Не трябва да се притеснявате – бременните котки обикновено са повече от способни да се грижат за себе си, въпреки че те все пак ще се нуждаят от вашите грижи и внимание по време на раждането. Тъй като често се опитват да се измъкнат, за да раждат на усамотено място, за всеки случай ще трябва да ги следите внимателно през последните няколко седмици! Говорете с вашия ветеринарен лекар, ако имате някакви притеснения или се страхувате от този процес. Техният съвет трябва да ви помогне да се почувствате по-спокойни....
        </p>

        <div class="content">
            <p>
                Подготовка за раждането
                През последните две седмици от бременността се уверете, че всички останали в семейството са спокойни и тихи и се отнасят внимателно с нея. Това се отнася най-вече до децата, които разбираемо може да са развълнувани от перспективата за котенца, с които скоро ще си играят!

                Опитайте се да държите котката си възможно най-спокойна и неактивна през това време и я насърчавайте да се отпусне в специалното си легло за майчинство. Дори и най-уютното меко легло обаче може да не я изкуши, а някои котки ще предпочетат ъгъла на шкафа вместо предложеното от вас родилно място! Просто се уверете, че има избор къде да роди и не се опитвайте да я премествате от избраното от нея място.            </p>
            <p>

                Осигурете си помощ
                Раждането трябва да протича гладко, но е добре да имате помощ под ръка, в случай че настъпят някакви усложнения.

                Потърсете телефонния номер на вашия ветеринарен лекар в извънработно време, преди котката ви да роди, защото това често се случва през нощта, а и може да има нужда от спешна помощ. Може да се наложи и да я заведете на ветеринар, така че се подсигурете и с транспорт.

                Когато сметнете, че раждането наближава, добре е предварително да подготвите някои неща, като чиста купа с топла вода, чисти кърпи, конец за зъби и ръкавици за еднократна употреба, заедно с кош и подробности за вашия ветеринарен лекар. Важно е тези неща да са ви под ръка, за всеки случай!

                Ако трябва да преместите котенцата далеч от майката, ще трябва да им осигурите топлина. Препоръчваме ви да използвате термочаша вместо бутилка с гореща вода, тъй като острите им зъби и нокти може да причинят пробиви.            </p>
            <p>
                За какви знаци да внимавате?
                Предстоящото раждане може да бъде трудно забележимо. По време на първите етапи майката ще стане много неспокойна, ще крачи, сякаш търси нещо, както и ще бъде доста гласовита. Свържете се с вашия ветеринарен лекар, ако не сте сигурни дали е започнало. Следете внимателно котката си през последните седмици и дни преди раждане, за да сте сигурни, че знаете кога и къде ще роди малките си.
            </p>
            <p>

                Как раждат котките? Етапи на бременност и раждане
                Котешкото раждане има три етапа. Ако смятате, че то е започнало, трябва да наблюдавате майката зорко. Обикновено процесът протича много гладко, но е важно да сте нащрек, за да може да реагирате бързо при усложнения.

                Въпреки това, намесата, освен ако не е абсолютно наложителна, може да забави раждането и да разстрои котката ви, така че се ограничете до редовни проверки и се опитайте да стоите настрана. Ако се притеснявате за нещо, консултирайте се с вашия ветеринарен лекар. Ограничете и броя на зрителите. Въпреки че цялото семейство със сигурност ще е развълнувано от новопристигналите, това може да разстрои майката!            </p>
            <p>
                Помощ по време на раждане:
                След като котенцата се родят, майката трябва да им помогне като скъса околоплодния сак (тънката мембрана около котетата) и след това да ги почисти внимателно. Имайте предвид, че понякога може да се нуждае от малко помощ от ваша страна.

                Ако тя не скъса сама сака, не го направи напълно или не почисти котенцата, може да се наложи да се намесите и да се погрижите за новородените котенца. Внимателно разкъсайте неотворените сакчета с кърпа (никога с остър предмет), за да може котенцата да дишат. Внимателно почистете устичките и носа им, след което бързо подсушете козината им с малка чиста кърпа или такава за лице. Здравото разтриване с топла кърпа ще изсуши и затопли котенцата и ще ги стимулира да поемат първата си голяма глътка въздух.

                След като котката ви е родила, ще прегризе пъпната връв, но вашата помощ може да е необходима отново, ако не го направи. С чисти ръце или с ръкавици за еднократна употреба завържете конеца за зъби около връвта на около 2 инча от тялото на котето, завържете отново още един на сантиметър от котето и отрежете пъпната връв между връзките. Не го режете твърде близо до малкото, защото това може да създаде опасност за него. Дългите краища на конеца може да бъдат сдъвкани или погълнати от майката, така че се уверете, че са подрязани! Ако забележите, че се опитва да дъвче твърде близо до котето, спрете я и го направете сами.

                Ако се притеснявате за тази част, консултирайте се с вашия ветеринарен лекар предварително, за да сте сигурни, че сте наясно какво точно да правите.
            </p>
            <p>

                Ако очаквате малки котенца да се родят скоро в дома ви, това може да е много вълнуващо, но и малко обезсърчително.
                Не трябва да се притеснявате – бременните котки обикновено са повече от способни да се грижат за себе си, въпреки че те все пак ще се нуждаят от вашите грижи и внимание по време на раждането. Тъй като често се опитват да се измъкнат, за да раждат на усамотено място, за всеки случай ще трябва да ги следите внимателно през последните няколко седмици! Говорете с вашия ветеринарен лекар, ако имате някакви притеснения или се страхувате от този процес. Техният съвет трябва да ви помогне да се почувствате по-спокойни.

                Ето някои полезни съвети от нашия екип PetCare, с които ще ви помогнем да сте възможно най-подготвени, когато вашата котка стане майка.

                Подготовка за раждането
                През последните две седмици от бременността се уверете, че всички останали в семейството са спокойни и тихи и се отнасят внимателно с нея. Това се отнася най-вече до децата, които разбираемо може да са развълнувани от перспективата за котенца, с които скоро ще си играят!

                Опитайте се да държите котката си възможно най-спокойна и неактивна през това време и я насърчавайте да се отпусне в специалното си легло за майчинство. Дори и най-уютното меко легло обаче може да не я изкуши, а някои котки ще предпочетат ъгъла на шкафа вместо предложеното от вас родилно място! Просто се уверете, че има избор къде да роди и не се опитвайте да я премествате от избраното от нея място.

                Осигурете си помощ
                Раждането трябва да протича гладко, но е добре да имате помощ под ръка, в случай че настъпят някакви усложнения.

                Потърсете телефонния номер на вашия ветеринарен лекар в извънработно време, преди котката ви да роди, защото това често се случва през нощта, а и може да има нужда от спешна помощ. Може да се наложи и да я заведете на ветеринар, така че се подсигурете и с транспорт.

                Когато сметнете, че раждането наближава, добре е предварително да подготвите някои неща, като чиста купа с топла вода, чисти кърпи, конец за зъби и ръкавици за еднократна употреба, заедно с кош и подробности за вашия ветеринарен лекар. Важно е тези неща да са ви под ръка, за всеки случай!

                Ако трябва да преместите котенцата далеч от майката, ще трябва да им осигурите топлина. Препоръчваме ви да използвате термочаша вместо бутилка с гореща вода, тъй като острите им зъби и нокти може да причинят пробиви.

                За какви знаци да внимавате?
                Предстоящото раждане може да бъде трудно забележимо. По време на първите етапи майката ще стане много неспокойна, ще крачи, сякаш търси нещо, както и ще бъде доста гласовита. Свържете се с вашия ветеринарен лекар, ако не сте сигурни дали е започнало. Следете внимателно котката си през последните седмици и дни преди раждане, за да сте сигурни, че знаете кога и къде ще роди малките си.

                синеока котка, лежаща в котешко легло
                Всяка котка обича уединението си и това е особено вярно, когато е на път да има бебета! Важно е да наблюдавате как ражда, за да може да се намесите, ако има проблеми, особено, ако ѝ се случва за първи път.

                Как раждат котките? Етапи на бременност и раждане
                Котешкото раждане има три етапа. Ако смятате, че то е започнало, трябва да наблюдавате майката зорко. Обикновено процесът протича много гладко, но е важно да сте нащрек, за да може да реагирате бързо при усложнения.

                Въпреки това, намесата, освен ако не е абсолютно наложителна, може да забави раждането и да разстрои котката ви, така че се ограничете до редовни проверки и се опитайте да стоите настрана. Ако се притеснявате за нещо, консултирайте се с вашия ветеринарен лекар. Ограничете и броя на зрителите. Въпреки че цялото семейство със сигурност ще е развълнувано от новопристигналите, това може да разстрои майката!

                Помощ по време на раждане
                котка, лежаща на килим
                След като котенцата се родят, майката трябва да им помогне като скъса околоплодния сак (тънката мембрана около котетата) и след това да ги почисти внимателно. Имайте предвид, че понякога може да се нуждае от малко помощ от ваша страна.

                Ако тя не скъса сама сака, не го направи напълно или не почисти котенцата, може да се наложи да се намесите и да се погрижите за новородените котенца. Внимателно разкъсайте неотворените сакчета с кърпа (никога с остър предмет), за да може котенцата да дишат. Внимателно почистете устичките и носа им, след което бързо подсушете козината им с малка чиста кърпа или такава за лице. Здравото разтриване с топла кърпа ще изсуши и затопли котенцата и ще ги стимулира да поемат първата си голяма глътка въздух.

                След като котката ви е родила, ще прегризе пъпната връв, но вашата помощ може да е необходима отново, ако не го направи. С чисти ръце или с ръкавици за еднократна употреба завържете конеца за зъби около връвта на около 2 инча от тялото на котето, завържете отново още един на сантиметър от котето и отрежете пъпната връв между връзките. Не го режете твърде близо до малкото, защото това може да създаде опасност за него. Дългите краища на конеца може да бъдат сдъвкани или погълнати от майката, така че се уверете, че са подрязани! Ако забележите, че се опитва да дъвче твърде близо до котето, спрете я и го направете сами.

                Ако се притеснявате за тази част, консултирайте се с вашия ветеринарен лекар предварително, за да сте сигурни, че сте наясно какво точно да правите.

                След раждане на котка
                Може да ви се струва, че минава бързо, но цялото раждане отнема между 2 и 5 часа. В някои случаи може да продължи до 24 часа! Ако забележите, че майката има проблеми, свържете се с вашия ветеринарен лекар, за да обсъдите следващата стъпка. Ако изглежда, че се напряга непродуктивно за час или повече по време на раждането, също му звъннете незабавно.

                Котилото обикновено е между четири и шест котенца, въпреки че не е твърде необичайно да е повече или по-малко от това. След като всички котенца се родят, дайте време на вашата котка да почисти и нахрани своите малки. Опитайте се да не се намесвате прекалено, но не се страхувайте да се държите внимателно с тях, тъй като това ще ги социализира, както и ще даде на майка им така необходимата почивка!

                Ако не са сукали в рамките на един час след раждането, може да се наложи да ги насочите към една от нейните цицки, защото е вероятно да са много гладни! Ако има повече котенца, отколкото цицки, може да се наложи да ги разменяте, докато се научат да ги споделят.

                В случай че майката не се грижи за котенцата си, не ги почиства или не ги храни, бързо се консултирайте с ветеринаря.

                Понякога може да се наложи ръчно отглеждане след раждане, но това е необичайно. Ако имате някакви притеснения или въпроси относно отглеждането на котилото, потърсете допълнителен съвет. Сега вече, всичко, което трябва да направите, е да отпразнувате този специален момент и пристигането на котенцата – поздравления!            </p>

            <label for="ch5">Виж по-малко</label>
        </div>

        <label for="ch5">Виж повече</label>
    </div>

    <div class="card">
        <input id="ch6" type="checkbox">

        <h2>Обучение на котета и котки за използване на котешка тоалетна</h2>
        <p>
            Ако имате котка и активностите ѝ са ограничени единствено в рамките на дома, котешката тоалетна е от съществено значение. Обучението на котета и котки относно използването ѝ е сравнително лесно, а с това полезно ръководство вашият космат приятел ще ги усвои за нула време!
            Обикновено естествените инстинкти на котките ги карат да искат да отидат до тоалетната навън, но много от тях обичат да имат такава и на закрито. Най-добре да започнете с обучението от ранна възраст, но и по-възрастните подлежат на това. Всъщност, дори може да го сметнат за полезно, защото ставите им са по-твърди, поради което им липсва предишната енергия, за да излязат навън....
        </p>

        <div class="content">
            <p>
                Перфектната котешка тоалетна
                Ако току-що започвате да обучавате котето си на тоалетна, уверете се, че първо използвате пластмасова с ниски стени, които ще осигурят лесен достъп. Когато то порасне малко, ще трябва да я смените с по-голяма и по-дълбока, за да му предоставите достатъчно място да се обръща. Така ще предотвратите и изритването и разпръскването на изпражненията из целия ви дом.
                Също така, никога не трябва да използвате покрита или захлупена тоалетна, докато все още тренирате ходенето до там. В началото дори капакът може да се яви твърде голямо препятствие за вашето коте.

                По-възрастната котка ще оцени такава с по-ниски стени, която е по-лесна за влизане и излизане.
            </p>
            <p>
                Избиране на правилния тип котешка тоалетна
                Всяка котка е индивидуална и ще откриете, че много от тях ще имат предпочитания към типа котешка тоалетна. Правилният избор е изключително важен в периода на обучение, понеже, ако не им харесва, те няма да влизат в нея!
                Ако трябва да промените вида на тоалетната, която използва вашата котка, направете го постепенно, за да не бъде изненада за нея и да откаже да я използва. Следвайте инструкциите на опаковката на продукта за препоръчителната дълбочина, като се уверите, че има достатъчно количество и пространство, за да копае. Ако искате тоалетната да улавя и по-редките екскременти, поставете малко вестник под нея.
            </p>
            <p>
                Къде да поставим котешката тоалетна?
                Според общото правило, всяка котка трябва да има една нейна, плюс една допълнителна някъде в дома. Поставете всички котешки тоалетни на тихо и спокойно място. Избягвайте да ги разполагате в натоварените коридори или в близост до източници на шум, като например до пералнята. Също така, мястото трябва да е далеч от това, където животните се хранят или пият вода.

                Когато обучавате коте на тоалетна, винаги гледайте тя да е леснодостъпна, особено ако вашият любимец ви прекарва цялото си време в къщата. Поради факта, че котките са много чисти животни, те ще се задържат възможно най-дълго там, но ако няма къде да отидат, това може да бъде много неудобно и да доведе до здравословни проблеми.            </p>
            <p>
                3 стъпки за приучаване на котета и котки на тоалетна
                Ако наскоро сте взели ново коте или се опитвате да научите по-възрастната си котка как да използва тоалетната, следвайте тези 3 прости стъпки:

                1. Разберете кога има нужда
                Първото нещо, което ще трябва да направите, когато приучавате котка, е да я държите под око и да следите за признаците, подсказващи кога тя трябва да излезе по нужда. Вероятно ще я видите да души, драска или прикляква на пода.

                2. Поставете я върху тоалетната
                Когато забележите тези знаци, просто я повдигнете и внимателно я поставете в тоалетната. Котета имат много малки пикочни мехури, затова ще трябва тях да ги поставяте винаги след хранене и веднага щом се събудят. Скоро вашето коте ще започне да свързва ходенето до това място с това, че ще си проправи път за още хапване.

                3. Похвалете успеха
                След като е използвало успешно тоалетната, похвалете го и му дайте вкусно котешко лакомство. Скоро ще се научи да мисли за това по положителен начин и ще започне да я използва уверено за нула време.            </p>
            <p>
                Защо е важно да се почиства тавата?
                Ако искате да избегнете злополуки в дома си и успешно да приучите котката си към тоалетна, уверете се, че редовно почиствате тавата ѝ. Като чисти същества, те няма да искат да я използват, която е доста изцапана. Има и някои капризни животни, които може да не искат да я използват, ако са била в нея дори само веднъж.

                Почиствайте замърсената тава поне веднъж на ден, но може да се наложи да го правите повече, в зависимост от това колко котки имате и колко често ходят по нужда. Трябва да я изпразвате напълно и да я измивате с гореща вода и препарат поне веднъж седмично. Избягвайте използването на дезинфектанти, понеже може да са токсични за тези животни.

                Ако сте бременна, никога не пипайте мръсна тоалетна, защото има риск от токсоплазмоза. Това е инфекция, която може да се предаде от вас на вашето неродено бебе.

                За повече информация относно грижите за новото ви коте – прочетете нашето ръководство за това как да спрете котките да драскат мебелите.            </p>

            <label for="ch6">Виж по-малко</label>
        </div>

        <label for="ch6">Виж повече</label>
    </div>

    <div class="card">
        <input id="ch7" type="checkbox">

        <h2>Всичко за микрочипирането на кученца</h2>
        <p>
            Вашето куче винаги ви обича и ще прави всичко възможно, за да ви защитава. Вие може да направите същото за него, като му поставите микрочип. Благодарение на него, ако някога кучето ви изчезне, има шанс да бъде намерено и върнато безопасно при вас възможно най-скоро – дори да е с виновно изражение на лицето и свита опашка.
            Съществуват много причини, които биха довели до това да изчезне. То може да се изплаши от друго куче, силна фойерверка или тътен от гръмотевици. Дори може да се дезориентира или разсее от непозната за него среда, например, ако сте на разходка на ново място или току-що сте се преместили. В случай че се изгуби, микрочипът може да ви помогне да си го върнете обратно при вас живо и здраво....
        </p>

        <div class="content">
            <p>
                Какво е микрочип?
                Микрочипът е малък компютърен чип с размерите на оризово зърно, който съдържа уникален код, съответстващ на данните на вашето куче. Действителният процес на микрочипиране е сравнително бърз и прост и може да ви помогне да се съберете отново с вашия четириног приятел, ако той се отдалечи от дома.

                Когато бъде намерен, ветеринарният лекар или някой приют за животни може да сканира вградения микрочип, за да намери вашите данни от базата данни, след което те ще се свържат с вас, за да си го приберете.            </p>
            <p>
                Как работят микрочиповете?
                След уговорен час, вашият ветеринарен лекар ще ви запознае с процеса по микрочипиране. След това, той ще вмъкне микроскопичен чип под кожата на вашето куче. Процедурата отнема само няколко секунди и е сравнително безболезнена, а реалното усещане е подобно на това, което чувстваме, когато пробиваме ушите си. След като е поставен, то дори няма да разбере, че е там.

                Начинът, по който всъщност работи, се дължи на уникалния 15-цифрен код, който се регистрира в националната база данни заедно с личните ви данни, включително вашето име, адрес и телефонен номер за спешни случаи.            </p>
            <p>
                Какво се случва когато кучето ви бъде намерено?
                Ако вашият космат приятел се скита един ден и има достатъчно късмет да бъде намерен от любезен непознат, всичко, което този човек трябва да направи, е да предаде кучето ви в приют или ветеринарен кабинет, където служителят ще използва сканиращо устройство, за да провери дали то е с микрочип. Сканирането няма да му причини допълнителен стрес и е напълно безболезнено.
                С бързо сканиране лесно ще намери вашия уникален 15-цифрен код, както и подробности от базата данни, в която е регистрирано вашето куче. Необходимо е да се премине през някои проверки за сигурност и, ако всичко е наред, ще се предоставят вашите данни за контакт.
            </p>
            <p>
                Колко струва да чипирате куче?
                Разходите за поставяне варират в зависимост от това кога е направено и кой го прави. Средно обикновено струва между 30 и 40 лева, за да се постави от ветеринарен лекар или медицинска сестра.

                Ако цената е непосилна за вас, някои благотворителни организации като Dogs Trust, Blue Cross и Battersea Dog & Cats Home признават, че може да е извън бюджета на някои собственици на кучета, така че предлагат безплатно микрочипиране. Също така, може да се разровите дали вашият ветеринар не провежда промоционални кампании, чрез които тази услуга ще ви излезе по-изгодно.            </p>
            <p>
                Домашните любимци трябва да бъдат чипирани, до достигане на 8-седмична възраст и преди да бъдат продадени от развъдчика. Освен това, ще трябва да се уверите, че данните са актуални, ако се преместите или прехвърлите собствеността. Установяването на остарели данни също води до глоба, тъй като в тези случаи законът счита, че животното няма микрочип.

                Има няколко настоящи изключения от закона. Например, ако вашият ветеринарен лекар смята, че това би имало отрицателно въздействие върху здравето на вашия любимец, той може да издаде сертификат за освобождаване с дата на изтичане. Това означава, че ще трябва да чипирате кучето си, преди той да изтече. Ако то не е показало никакви признаци на подобрение в рамките на този период от време, тогава ветеринарят може да издаде допълнителен сертификат.

                Друго изключение се прави за животни, чиято опашка е купирана. В тези случаи срокът за поставяне на микрочипове се удължава до 3 месеца.

                Разбира се, тези разпоредби подлежат на промяна, така че ви препоръчваме да сте в течение, като се консултирате с вашия ветеринарен лекар и проверявате правителствените уебсайтове.            </p>

            <label for="ch7">Виж по-малко</label>
        </div>

        <label for="ch7">Виж повече</label>
    </div>


</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>