<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<div class="cart-container">

<table>
    <thead>
    <tr>
        <th>Продукт:</th>
        <th>Име:</th>
        <th>Цена:</th>
        <th>Брой:</th>
        <th>Общо:</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr class="product" th:each="p, iterator :${productsList}">
        <td><img th:src="@{/downloadPicture/{productId}(productId=${p.id})}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.count}"></td>
        <td th:text="${#numbers.formatDecimal(p.price * p.count, 1,2,'POINT')}"></td>
        <td id="x"><a th:href="@{/removeFromCart/{index}(index=${iterator.index})}">X</a></td>
    </tr>
    </tbody>
</table>

    <form th:method="post" th:action="@{/makeOrder}" th:object="${orderBindingModel}" class="order-info">
        <div class="order">
            <input type="text" name="firstName" id="first-name"
                   th:value="${ownerFirstName}" readonly>
            <small th:errors="*{firstName}" class="error-message"></small>
        </div>

        <div class="order">
            <input  type="text" name="lastName" id="last-name"
                   th:value="${ownerLastName}"  readonly>
            <small th:errors="*{lastName}" class="error-message"></small>
        </div>

        <div class="order">
            <input type="text" th:field="*{town}" name="town" id="town" required
                   placeholder="  Град" th:errorclass="input-error">
            <small th:errors="*{town}" class="error-message"></small>
        </div>
        <div class="order">
            <input type="text" th:field="*{address}" name="address" id="address" required
                   placeholder="  Адрес за доставка" th:errorclass="input-error">
            <small th:errors="*{address}" class="error-message"></small>
        </div>

        <div class="order">
            <input type="tel" th:field="*{phoneNumber}" name="phoneNumber" id="phone" required
                   placeholder="  Телефон" th:errorclass="input-error">
            <small th:errors="*{phoneNumber}" class="error-message"></small>
        </div>

        <div class="order">
            <input th:value="${ownerEmail}" type="email" name="email" id="reg-email"
                    readonly>
            <small th:errors="*{email}" class="error-message"></small>
        </div>



<div class="final-price">

    <span>Обща сума:</span>
    <span><span th:text="${#numbers.formatDecimal(finalPrice,1,2,'POINT')}"></span>лв.</span>


    <button type="submit">Потвърди поръчката</button>
</div>
    </form>
</div>



<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>