<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<div class="cart-container">

<table>
    <thead>
    <tr>
        <th>Продукт:</th>
        <th>Име:</th>
        <th>Цена:</th>
        <th>Брой:</th>
        <th>Общо:</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr class="product" th:each="p, iterator :${productsList}">
        <td><img th:src="@{/downloadPicture/{productId}(productId=${p.id})}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.count}"></td>
        <td th:text="${p.price * p.count}"></td>
        <td id="x"><a th:href="@{/removeFromCart/{index}(index=${iterator.index})}">X</a></td>
    </tr>
    </tbody>
</table>


<div class="final-price">

    <span>Обща сума:</span>
    <span><span th:text="${finalPrice}"></span>лв.</span>


    <button type="submit">Потвърди поръчката</button>
</div>

</div>



<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>