<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/contacts.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<section class="contacts">
    <div class="info">
        <p>КОНТАКТИ</p>
        <p><b>Адрес:</b> гр. Стара Загора, кв."Ремиза" </p>
        <p><b>Телефон за поръчки:</b> 0882 288 289</p>
        <p><b>Имейл:</b> happy_pet@abv.bg</p>
    </div>

    <div class="image">
        <img th:src="@{/images/animals.png}">
    </div>

</section>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>