<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet Happy</title>
  <link rel="stylesheet" th:href="@{/css/contacts.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<section>
  <p>КОНТАКТИ</p>
  <p>Адрес: Гр. Стара Загора, ул."Златан Станчев" №26</p>
  <p>Телефон за поръчки: 0882 288 289</p>
  <p>Имейл: happy_pet@abv.bg</p>

<div>
<img th:src="@{/images/animals.png}">
</div>

</section>

<footer>All rights reserved. © 2023 Zheni.Di project</footer>

</body>
</html>