<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet Happy</title>
   <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/currentProduct.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>
<section class="container">

  <article class="image-container">
    <img th:src="@{/downloadPicture/{productId}(productId=${productId})}">
  </article>

  <article class="desc">
    <h3 th:text="${productTitle}">Title</h3>
    <p th:text="${productDesc}"></p>
    <p th:text="${productPrice}">price</p>

    <button type="submit">Добави в количката <i class="fa-solid fa-cart-shopping"></i></button>

  </article>

</section>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>