<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/currentProduct.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>
<section th:replace="~{fragments/commons::section}"></section>

<a th:href="@{/cart}">
<span class="cart"><i class="fa-solid fa-cart-shopping"></i></span>
<p class="products-in-cart" th:text="${productsCount}">0</p>
</a>

<section class="container">

    <article class="image-container">
        <img th:src="@{/downloadPicture/{productId}(productId=${productId})}">
    </article>

    <article class="desc">
        <form th:action="@{/addToCart/{id}(id=${productId})}" th:method="post">
        <h3 th:text="${productTitle}">Title</h3>
        <p id="content" th:text="${productDesc}"></p>
        <p>
            <span class="text">Брой: </span>
            <input class="count" name="count" type="number" value="1" th:min="1" th:max="${maxProductCount}">
        </p>
        <p>
            <span class="text">Цена: </span>
            <span th:text="${productPrice}">price</span>
            <span>лв.</span>
        </p>

            <button type="submit" th:if="${maxProductCount > 0}">Добави в количката <i class="fa-solid fa-cart-shopping"></i></button>

        </form>
    </article>

</section>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>