<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Happy</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>



<section class="form">
    <div class="image-logo">
        <img th:src="@{/images/logoHappy.png}">
    </div>
    <h3>Вход</h3>
    <span class="invalid" th:if="${invalidCredentials}">Грешно име и/или парола! Ако нямате профил, моля, регистрирайте се!</span>

    <form th:method="post" th:action="@{/owners/login}">
    <div class="username">
        <input type="text" name="username" id="login-username" required
               placeholder="  Въведете Вашето потребителско име">
    </div>

    <div class="pass">
        <!--        <label>Парола</label>-->
        <input type="password" name="password" id="login-password" required
               placeholder="  Въведете Вашата парола">
    </div>
    <button type="submit">Влезте с профила си</button>
    </form>
</section>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>