<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/moderator.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/moderatorResponsive.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<div class="add-message">
    <h2>Добави съобщение</h2>
    <textarea></textarea>
    <span>Важи от:</span><input type="date">
    <span>Важи до:</span><input type="date">
</div>

<div class="all-orders">

<div th:each="o, iterator : ${ordersList}" class="order-container">

<form th:action="@{/deleteOrder/{id}(id=${o.id})}" th:method="delete">
    <div class="order-info">
        <span class="init">Поръчка №:<span class="about" th:text="${iterator.count}"></span></span>
        <hr>
        <span class="init">Име:<span class="about" th:text="${o.owner.firstName}"></span></span>
        <hr>
        <span class="init">Фамилия:<span class="about" th:text="${o.owner.lastName}"></span></span>
        <hr>
        <span class="init">Град:<span class="about" th:text="${o.town}"></span></span>
        <hr>
        <span class="init">Адрес:<span class="about" th:text="${o.address}"></span></span>
        <hr>
        <span class="init">Телефон:<span class="about" th:text="${o.phoneNumber}"></span></span>
        <hr>
        <span class="init">Email:<span class="about" th:text="${o.owner.email}"></span></span>
        <hr>
    </div>
    <div class="order-content">
        <table>
            <thead>
            <tr>
                <th>Продукт:</th>
                <th>Име:</th>
                <th>Цена:</th>
                <th>Брой:</th>
                <th>Общо:</th>
            </tr>
            </thead>

            <tbody>
            <tr class="product" th:each="op : ${o.orderedProducts}">
                <td class="pic"><img th:src="@{/downloadPictureById/{productId}(productId=${op.pictureId})}"></td>
                <td th:text="${op.name}"></td>
                <td th:text="${op.price}"></td>
                <td th:text="${op.count}"></td>
                <td th:text="${op.count * op.price}"></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="final-price-order">

        <span>Обща сума на поръчката:</span> <span th:text="${#numbers.formatDecimal(o.getFinalPrice(),1,2,'POINT')}"></span>
        <span><span></span>лв.</span>


        <button id="btn" type="submit">Завърши поръчката</button>
    </div>
    </form>
</div>

</div>



<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>