<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<article class="product-container">
    <div class="product" th:each="p:${products}">
        <img th:src="@{/downloadPicture/{productId}(productId=${p.id})}" class="">
        <p th:text="${p.name}"></p>
        <p th:text="${p.price}"></p>
        <a th:href="@{/currentProduct/{id}(id=${p.id})}">
            <button type="submit">КУПИ</button>
        </a>
    </div>
</article>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>