<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<a th:href="@{/cart}">
<span class="cart"><i class="fa-solid fa-cart-shopping"></i></span>
<p class="products-in-cart" th:text="${productsCount}">0</p>
</a>

<article class="product-container">
    <div class="product" th:each="p:${products}">
        <img th:src="@{/downloadPicture/{productId}(productId=${p.id})}" class="">
        <p th:text="${p.name}"></p>
        <div class="price">
            <p id="product-price" th:text="${p.price}"></p><span>лв.</span>
        </div>
        <a th:href="@{/currentProduct/{id}(id=${p.id})}">
            <button type="submit">КУПИ</button>
        </a>

        <form th:action="@{/deleteProduct/{id}(id=${p.id})}" th:method="delete" sec:authorize = "hasAuthority('ADMINISTRATOR')">
            <button id="btn-del" type="submit">ИЗТРИЙ</button>
        </form>
    </div>
</article>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>