<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>
<section th:replace="~{fragments/commons::section}"></section>
<div class="container">
    <div class="profile-content">

        <span id="hidden" th:text="${profileId}"></span>
        <span id="me"><i class="fa-solid fa-user"></i></span>
        <hr>
        <i class="fa-regular fa-circle-user"></i><span id="username"></span>
        <hr>
        <i class="fa-regular fa-user"></i><span id="firstName"></span>
        <hr>
        <i class="fa-regular fa-user"></i><span id="lastName"></span>
        <hr>
        <i class="fa-regular fa-envelope"></i><span id="email"></i></span>
        <hr>
        <a th:href="@{/owners/editProfile}" class="edit"><button>Промени профил</button></a>
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>

<script th:src = "@{/js/script.js}"></script>
</body>
</html>