<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Happy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>



<section class="reg-form">

    <div class="image-logo">
        <img th:src="@{/images/logoHappy.png}">
    </div>

    <div class="input-info">
    <h3>РЕГИСТРИРАЙ СЕ</h3>

    <form th:method="post" th:action="@{/owners/register}" th:object="${ownerRegisterBindingModel}">

        <div class="username">
            <input type="text" th:field="*{username}" name="register-username" id="register-username" required
                   placeholder="  Потребителско име" th:errorclass="input-error">
            <small th:errors="*{username}" class="error-message"></small>
        </div>

        <div class="f-name">
            <input type="text" th:field="*{firstName}" name="register-first-name" id="first-name" required
                   placeholder="  Име" th:errorclass="input-error">
            <small th:errors="*{firstName}" class="error-message"></small>
        </div>

        <div class="l-name">
            <input type="text" th:field="*{lastName}" name="register-last-name" id="last-name" required
                   placeholder="  Фамилия" th:errorclass="input-error">
            <small th:errors="*{lastName}" class="error-message"></small>
        </div>

        <div class="email">
            <input type="text" th:field="*{email}" name="register-email" id="reg-email" required
                   placeholder="  email" th:errorclass="input-error">
            <small th:errors="*{email}" class="error-message"></small>
        </div>

        <div class="pass">
            <input type="password" th:field="*{password}" name="login-password" id="login-password" required
                   placeholder="  Парола" th:errorclass="input-error">
            <small th:errors="*{password}" class="error-message"></small>
        </div>

        <div class="confirm">
            <input type="password" th:field="*{confirmPassword}" name="confirm-pass" id="login-confirm-pass" required
                   placeholder="  Потвърди парола" th:errorclass="input-error">
            <small th:errors="*{confirmPassword}"></small>
        </div>

        <button type="submit">РЕГИСТРАЦИЯ</button>
    </form>
    </div>
</section>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>

</html>