<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Happy</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/shop.css}">
  <link rel="stylesheet" th:href="@{/css/responsive/navigation.css}">
</head>

<body>

<header th:replace="~{fragments/commons::nav}">
</header>

<div class="image-logo">
  <img th:src="@{/images/logoHappy.png}">
</div>

<article class="container">
<h2>ИЗБЕРЕТЕ КАТЕГОРИЯ</h2>

<section class="categories">

  <a th:href="@{/products/CAT}">
  <div class="image">
    <img th:src="@{/images/catCategory.jpg}">
    <p>КОТКИ</p>
  </div>
  </a>

  <a th:href="@{/products/DOG}">
  <div class="image">
    <img th:src="@{/images/categoryDog.jpg}">
    <p>КУЧЕТА</p>
  </div>
  </a>

  <a th:href="@{/products/OTHER}">
  <div class="image">
    <img th:src="@{/images/categoryOther.jpg}">
    <p>ДРУГИ</p>
  </div>
  </a>

</section>
</article>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>