
body {
    margin: 0;
}


.about-us {
    display: flex;
    gap: 50px;
    background-color: floralwhite;
    height: 85vh;
    padding-top: 20px;
}

.image img{
    width: 75vh;
    margin-left: 3vw;
    margin-top: 2vw;
}

.info h2{
    font-size: 36px;
    font-weight: bold;
    margin-top: 5vw;
}

.image-logo img {
    position: relative;
    margin-left: 40%;
    margin-bottom: 0%;
    margin-top: -15%;
    width: 15vw;
}

 p {
    font-size: 20px;
     text-align: justify;
     margin-right: 2vw;
}


footer {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}



