:root{
    --greenColor: #bfd798;
    --orangeColor: rgba(246,132,32,255);
}

body {
    overflow-y: visible;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px;
}

.form-container  {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    color: var(--greenColor);
    gap: 20px;
    border: solid lightgray 5px;
    height: 70vh;
    width: 40vw;
    padding: 20px;
    background-color: floralwhite;
}
.change-roles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33vw;
    height: 59vh;
    background-color: floralwhite;
    border: solid 5px lightgray;
    padding: 70px;
    font-size: 32px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#username {
    font-size: 18px;
    border: solid black 3px;
    border-radius: 8px;
    width: 15vw;
    height: 5vh;
}
.select {
    display: flex;
    padding: 10px;
    gap: 10px;
    margin: 15px;
}

.addProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.addProduct input {
    width: 550px;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    border: solid black 3px;
}
.addProduct .categories {
    width: 560px;
    height: 55px;
    border-radius: 8px;
    font-size: 20px;
    border: solid black 3px;
}
#picture {
    border: none;
    color: black;
}
button {
    width: 260px;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    border: solid black 3px;
    padding: 5px;
    margin-top: 25px;
}

#btn-change{
    margin-left: 3%;
}

#btn-add:hover, #btn-change:hover {
    background-color: var(--orangeColor);
}


.input-error {
    background-color: rgba(236,28,46,255);
}

.error-message {
    color: rgba(236,28,46,255);
    font-size: 20px;
    font-weight: bold;

}

footer {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}