
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --greenColor: #bfd798;
    --orangeColor: rgba(246, 132, 32, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: visible;
    font-family: 'Roboto', sans-serif;
    background-color: floralwhite;
}

nav {
    height: 10vh;
}

.message p {
    margin-top: -10px;
}

.image-logo img {
    position: relative;
    margin-left: 40%;
    margin-bottom: -1%;
    margin-top: 0;
    width: 20%;
}


.container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    
}

.card {
    background-color: lightgoldenrodyellow;
    width: 400px;
    padding: 22px 30px;
    line-height: 1.8;
    text-align: justify;
    margin: 30px;
    border: 5px solid lightgray;
    border-radius: 50px;
}

.card h2 {
    text-align: center;
}

#ch, #ch1, #ch2, #ch3,
#ch4, #ch5, #ch6, #ch7 {
    display: none;
}

#ch:checked ~ .content,
#ch1:checked ~ .content,
#ch2:checked ~ .content,
#ch3:checked ~ .content,
#ch4:checked ~ .content,
#ch5:checked ~ .content,
#ch6:checked ~ .content,
#ch7:checked ~ .content {
    display: block;
}


#ch:checked ~ label,
#ch1:checked ~ label,
#ch2:checked ~ label,
#ch3:checked ~ label,
#ch4:checked ~ label,
#ch5:checked ~ label,
#ch6:checked ~ label,
#ch7:checked ~ label {
    display: none;
}


.content {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    background-color: darkseagreen;
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 12px;
    font-weight: bold;
}

footer {
    position: relative;
    margin-top: 50px;
}
