:root {
    --greenColor: #bfd798;
    --orangeColor: rgba(246, 132, 32, 255);
}
body {
    overflow-y: visible;
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{

    align-items: center;
    width: 90vw;
    margin-left: 50px;
    margin-top: 50px;
}
thead {
    border: solid lightgray 1px;
    background-color: lightgray;
    font-size: 24px;
    font-weight: bold;
}
tbody td {
    border: solid lightgray 1px;
    font-size: 22px;
}

.product {
    font-size: 16px;
    justify-content: center;
    text-align: center;
}

img {
    width: 5vw;
}



.final-price {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: lightgray;
    border: solid darkgrey 1px;
    font-size: 42px;
    font-weight: bold;
    color: var(--orangeColor);
    margin-top: 100px;
}
.product #x {
    color: red;
}

button {
    font-size: 42px;
    background-color: var(--greenColor);
}

footer {
    position: relative;
    margin-top: 50px;
}