:root{
    --greenColor: #bfd798;
    --orangeColor: rgba(246,132,32,255);
}

body {
    margin: 0;
    background-color: floralwhite;
}
.image-logo img {
    position: relative;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: -6%;
    width: 20vw;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}

.contacts .info {
    display: flex;
    flex-direction: column;
    background-color:floralwhite;
    width: 100vw;
    text-align: center;
}


section .image img{
    width: 54vw;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}