@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

:root {
    --greenColor: #bfd798;
    --orangeColor: rgba(246, 132, 32, 255);
}

body{
    margin: 0;
    background-color: floralwhite;
}
.profile-content span {
    margin-left: 5%;
}

#me {
    font-size: 150px;
    margin-left: 45%;
}

.container {
    background-color: floralwhite;
    padding-top: 2%;
    padding-bottom: 2%;
}

.profile-content {
    width: 50vw;
    margin-top: 1%;
    align-content: center;
    margin-left: 25%;
    font-size: 40px;
}

hr {
    border: solid 1px var(--orangeColor);
}

input {
    border: none;
    background-color: transparent;
    width: 45vw;
    margin-top: 1%;
    margin-left: 20px;
    align-content: center;
    font-size: 30px;
}

button {
    border: solid black 2px;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: darkorange;
    font-size: 16px;
    font-weight: bold;
}

