

:root{
    --greenColor: #bfd798;
}


body{
    margin: 0;
    background-color: floralwhite;
}

.image-logo img {
    position: relative;
    margin-left: 40%;
    margin-bottom: -4%;
    margin-top: -2%;
    width: 20vw;
}

h3 {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 1%;

}
.invalid {
    color: red;
    font-size: 22px;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.form{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
    height: 70vh;
    padding: 5px;
    background-color: floralwhite;
    align-items: center;
}

.form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form div input {
    width: 550px;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    border: solid black 3px;

}


button {
    width: 360px;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    border: solid black 3px;
    padding: 5px;
    margin-top: 10px;
}

button:hover{
    background-color: var(--orangeColor);
}

form div {
    margin-bottom: 15px;
}

