@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');

:root {
    --greenColor: #bfd798;
    --orangeColor: rgba(246, 132, 32, 255);
}

body {
    overflow-y: visible;
}

.cart .fa-cart-shopping {
    font-size: 50px;
    position: absolute;
    right: 240px;
    top: 100px;
}
.products-in-cart {
    border: solid black 1px;
    border-radius: 50%;
    padding: 5px 7px;
    color: aliceblue;
    background-color: var(--orangeColor);
    font-size: 15px;
    position: absolute;
    right: 253px;
    top: 90px;
}



.product-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 40px;

}


.product {
    border: solid 1px darkgrey;
    padding: 20px;
    width: 13vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.product img {
    width: 15vw;
}

.product p {
    font-size: 30px;
}

button {
    font-size: 30px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    background-color: var(--greenColor);
}

#product-price {
    font-size: 40px;
    margin: 0;
    margin-right: 5px;

}

.price {
    display: flex;
    color: orangered;
    font-weight: bold;
}

footer {
    position: relative;
    margin-top: 50px;
}

