
:root{
    --greenColor: #bfd798;
    --orangeColor: rgba(246,132,32,255);
}
body {
    overflow-y: visible;
}
.product-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 40px;
}


.product {
    border: solid 1px var(--orangeColor);
    padding: 20px;
    width: fit-content;
}
.product img {
    width: 10vw;
}

