
:root{
    --greenColor: #bfd798;
    --orangeColor: rgba(246,132,32,255);
}

.product-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-size: 40px;
}


.product {
    border: solid 1px var(--orangeColor);
    padding: 20px;
    width: fit-content;
}