
body{
    overflow: hidden;
}


.screen {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    background-image: url("static/images/jackRussel.jpg");
    flex-direction: column;

}


.image img{
    width: 100vw;
}


footer {
    text-align: center;
    font-size: 20px;
    color: rgba(246,132,32,255);
}


nav img {
    width: 430px;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;

}
nav .left-nav  a {
    color: rgba(246,132,32,255);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 50px;
}

nav .right-nav  a {
    color: rgba(246,132,32,255);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 50px;
}