:root{
    --greenColor: #bfd798;
    --orangeColor: rgba(246,132,32,255);
}

body{
    overflow: hidden;
    margin: 0;
}

nav {
    padding: 10px 5px;
    background-color: darkseagreen;
    width: 100vw;
    height: 8vh;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


form {
    width: fit-content;
}
nav a, #logout-btn {
    color: floralwhite;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 6px 12px;
    background-color: var(--orangeColor);
    border: solid 3px floralwhite;
    border-radius: 8px;
}

.message p {
    width: 100vw;
    border: solid lightgray 2px;
    padding: 7px;
    background-color: lemonchiffon;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-top: -15px;
}


.screen {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    background-image: url("static/images/jackRussel.jpg");
    flex-direction: column;

}


.image img{
    width: 100vw;
}

.image-logo img {
    position: relative;
    margin-left: 50%;
    margin-bottom: 30%;
    margin-top: -38%;
    width: 20%;
}




footer {
    position: absolute;
    bottom: 0px;
    /* left: 50vw; */
    /* transform: translateX(-50%); */
    background-color: darkseagreen;
    width: 100vw;
    padding: 10px;
    color: floralwhite;
    font-size: 16px;
    text-align: center;
}


