<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Pet Happy</title>

</head>
<body>
<header>
    <nav>
        <div class="left-nav">
            <a href=""sec:authorize="isAuthenticated()">FAQ</a>
            <a href="">ЗА НАС</a>
            <a href="">МАГАЗИН</a>
        </div>

        <img th:src="@{/images/happyPetLogo.webp}">

        <div class="right-nav">
            <a th:href="@{/owners/register}" sec:authorize="!isAuthenticated()">РЕГИСТРАЦИЯ</a>
            <a th:href="@{/owners/login}" sec:authorize="!isAuthenticated()">ВХОД</a>
            <a href="" sec:authorize="isAuthenticated()">ОТПИСВАНЕ</a>
        </div>
    </nav>

</header>

<footer>All rights reserved. © 2023 Zheni.Di project</footer>



</body>
</html>