<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Pet Happy</title>

</head>
<body>
<header>


        <nav>
            <div class="nav">
                <a th:href="@{/owners/advice}" sec:authorize="isAuthenticated()">СТАТИИ</a>
                <a th:href="@{/aboutUs}">ЗА НАС</a>
                <a th:href="@{/shop}">МАГАЗИН</a>
                <a th:href="@{/contacts}">КОНТАКТИ</a>
                <a th:href="@{/owners/register}" sec:authorize="!isAuthenticated()">РЕГИСТРАЦИЯ</a>
                <a th:href="@{/owners/login}" sec:authorize="!isAuthenticated()">ВХОД</a>
                <a th:href="@{/owners/profile}" sec:authorize="isAuthenticated()">МОЯТ ПРОФИЛ</a>
                <a th:href="@{/owners/admin}" sec:authorize="hasAuthority('ADMINISTRATOR')">АДМИНИСТРАТОР</a>
                <a th:href="@{/owners/moderator}" sec:authorize="hasAuthority('MODERATOR')">МОДЕРАТОР</a>

                <form th:action="@{/owners/logout}" th:method="post" sec:authorize="isAuthenticated()">
                    <button type="submit" id="logout-btn">ОТПИСВАНЕ</button>
                </form>
            </div>
        </nav>


    <img th:src="@{/images/happyPetLogo.webp}">
</header>

<footer>All rights reserved. © 2023 Zheni.Di project</footer>

</body>
</html>