@media (max-width: 1600px) {
    body {
        overflow-y: visible;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }
    .form-container {
        width: fit-content;
        height: fit-content;
        padding: 90px 335px;
    }

    .change-roles-container,
    .ban-user-container {
        width: fit-content;
        height: fit-content;
        padding: 120px;
        padding-right: 455px;
    }

    #username, #name {
        width: 40vw;
    }
}



@media (max-width: 1200px) {
    body {
        overflow-y: visible;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .form-container {
        width: fit-content;
        height: fit-content;
        padding: 50px 220px;
    }

    .change-roles-container,
    .ban-user-container {
        width: fit-content;
        height: fit-content;
        padding: 120px;
        padding-right: 455px;
    }

    #username, #name {
        width: 35vw;
    }
}
@media (max-width: 800px) {

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .form-container {
        width: fit-content;
        padding: 5% 5%;
    }

    .change-roles-container,
    .ban-user-container {
        width: fit-content;
        height: fit-content;
        padding: 100px;
        padding-right: 250px;
    }
}

@media (max-width: 600px) {

    .addProduct .categories {
        width: 90vw;
    }

    .addProduct input {
        width: 88vw;
    }

    #username, #name {
        width: 65vw;
    }

    .change-roles-container,
    .ban-user-container {
        width: fit-content;
        height: fit-content;
        padding: 30px;
        padding-right: 150px;
    }

}

@media (max-width: 400px) {

    .change-roles-container,
    .ban-user-container {
        padding: 20px;
        padding-right: 130px;
    }

    .addProduct .categories {
        width: 95vw;
    }

    .addProduct input {
        width: 95vw;
    }

    #username, #name {
        width: 65vw;
    }
}