@media (max-width: 600px) {
    .form div input {
        width: fit-content;
        height: fit-content;
    }

    button {
        width: fit-content;
        font-size: 24px;
        margin-left: 6px;
    }

}

@media (max-width: 400px) {


    button {
        width: fit-content;
        font-size: 18px;
        margin-left: 33px;
    }

}