@media (max-width: 800px) {

    .add-message form {
        width: fit-content;
        height: fit-content;
        padding: 10%;

    }
    .order-container {
        width: fit-content;
        height: fit-content;
        margin: 3%;
    }
}


@media (max-width: 550px) {

    thead {
        font-size: 14px;
    }

    tbody td {
        font-size: 14px;
    }
}


@media (max-width: 400px) {
    .add-message form {
        width: 30%;
    }

    .order-info span {
        font-size: 16px;
    }

    thead {
        font-size: 8px;
    }

    tbody td {
        font-size: 8px;
    }
}