@media (max-width: 1600px) {

    body{
        overflow-y: visible;
    }

    footer {
        position: relative;
        margin-top: 50px;
    }
}

@media (max-width: 1200px) {

    body{
        overflow-y: visible;
    }


    footer {
        position: relative;
        margin-top: 50px;
    }
}

@media (max-width: 800px) {

    body{
        overflow-y: visible;
    }

    .nav a {
        font-size: 18px;
    }


    /*footer {*/
    /*    position: relative;*/
    /*    margin-top: 50px;*/
    /*}*/
}


@media (max-width: 600px) {

    body{
        overflow-y: visible;
    }

    nav {
        height: 65vh;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        background-color: darkseagreen;
        width: 97vw;
        height: 50vh;
    }

    footer {
        position: relative;
        margin-top: 50px;
    }
}

@media (max-width: 400px) {

    body{
        overflow-y: visible;
    }

    nav {
        height: 55vh;
    }


}