@media (max-width: 1600px) {

    body{
        overflow-y: visible;
    }

    nav {
        width: 100vw;
        height: fit-content;
    }

    .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 5px 75px;
        align-items: center;

    }

    footer {
        position: relative;
        margin-top: 50px;
    }
}

@media (max-width: 1400px) {

    body{
        overflow-y: visible;
    }


    .nav {
        flex-wrap: wrap;
    }


}

@media (max-width: 1200px) {

    body{
        overflow-y: visible;
    }

    .nav {
        flex-wrap: wrap;
    }

}

@media (max-width: 800px) {

    body{
        overflow-y: visible;
    }

    nav {
        width: fit-content;
        height: fit-content;
    }
    .nav {
        flex-wrap: wrap;
    }

    .nav a {
        font-size: 18px;
    }
    #username {
        width: 35vw;
    }


}


@media (max-width: 600px) {

    body{
        overflow-y: visible;
    }

    nav {
        height: fit-content;
    }

    .nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        background-color: darkseagreen;
        width: fit-content;
        height: fit-content;
    }

}

@media (max-width: 400px) {

    body{
        overflow-y: visible;
    }

    nav {
        height: fit-content;
    }


}