
@media (max-width: 800px) {

    .image-logo img{
        margin-left: -10%;
    }
    button{
        margin-left: 30%;
    }
}

@media (max-width: 600px) {

    .image-logo img{
        margin-left: -10%;
        margin-top: 65%;
    }
    button{
        margin-left: 25%;
    }

    footer {
        position: relative;
        margin-top: 120px;
    }


}



@media (max-width: 400px) {

    .reg-form div input{
        width: 95%;
    }
}