@media (max-width: 600px) {
    .categories {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    footer{
        position: relative;
        margin-top: 34%;
    }
}


@media (max-width: 400px) {


    footer{
        position: relative;
        margin-top: 160px;
    }
}
